.container2 {
	text-align: center;
}
span {
	background: #0033ff;
	width: 64px;
	height: 64px;
	color: #ffffff;
	font-size: 25px;
	border-radius: 50%;
	text-align: center;
	line-height: 64px;
	margin: 0 auto;
}
.photo {
	height: 300px;
	border-radius: 50%;
	display: block;
	margin:50px auto 25px auto;
}